@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #14AEBB;
  --accent-color: #FA3B99;
  --light-bg: #FFF9F0;
  --white: #FFFFFF;
  --button-hover: #0e7781;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main-container{
  display: flex;
  min-height: 100vh; 
  margin: 0 auto;
  justify-content: center; 
  background-color: var(--light-bg);
}

#main-content {
  flex: 1;
  padding: 30px;
  position: relative;
  background: var(--white);
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  margin: 50px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

/* ----------------------------------------------------- */
.sidebar-placeholder {
  background-color: #FFF9F0;
}

header {
  position: relative;
  font-size: 28px;
  font-weight: 600;
  color: #FA3B99;
}
  
header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: #14AEBB;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 10px; 
}

.heading_title {
  display: flex;
  align-items: center;
  gap: 10px; 
}

/* Controls (Search and Sort) */
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 16px;
}

.controls_right {
  display: flex;
  align-items: flex-start;
  gap: 0.7rem;
  margin-top: 2px; 
  flex-wrap: nowrap; 
}

.controls_right input[type="text"], .controls select {
  padding: 8px 12px;
  font-size: 12px;
  max-width: 150px;
  width: 100%;
  background-color: rgba(20, 174, 187, 0.1);
  border: 1px solid #14AEBB; 
  border-radius: 12px;
  box-sizing: border-box;
  margin: 10px 0;
  justify-content: right;
}

.controls #addNew:hover{
  background-color: #142452;
}

.search-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 6px;
  max-width: 100%;
}

.search-wrapper input {
  border: none;
  outline: none;
  max-height: 35px;
  padding-right: 30px;
  flex: 1;
  font-size: 14px;
  width: 100%;
  background-color: transparent;
}

.clear-btn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.controls_right i:hover, .controls_right button:hover {
  color: rgba(0, 0, 0, 0.6);
  border: none;
  background-color: transparent;
  color: #4059A5;
}

.search-wrapper .fa-search,
.search-wrapper .clear-btn {
  color: #888;
  cursor: pointer;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
}

.custom-select-wrapper select {
  padding: 8px 12px;
  padding-right: 30px;
  height: 36px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 24px;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-select-wrapper i {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #666;
}

 
tr {
  transition: background-color 0.3s ease;
}

.controls select {
  padding: 8px 12px;
  font-size: 12px;
  max-width: 130px;
  font-weight: 500;
  color: #4D5874;
  width: 100%;
  background-color: #F9FBFF;
  border: 1px solid #E0E3EB;
  border-radius: 12px;
  box-sizing: border-box;
}

#sortSelect {
  padding: 8px 12px;
  font-size: 12px;
  max-width: 150px;
  width: 100%;
  background-color: rgba(20, 174, 187, 0.1);
  border: 1px solid #14AEBB; 
  border-radius: 12px;
  box-sizing: border-box;
  margin: 10px 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center; 
  padding-right: 25px; 
}

#sortSelect option {
  padding: 8px;
  font-size: 12px;
}

#sortSelect:focus {
  border-color: #14AEBB; 
  outline: none; 
}
/* ==========================================================================
 Pagination
========================================================================== */
.pagination-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.pagination-info span {
  flex: 1 1 auto;
  text-align: left;
  font-size: 12px;
  color: #6c757d;
}

#pagination button {
  display: flex;
  flex-wrap: wrap;
  margin: 0 3px;
  padding: 6px 12px;
  font-size: 14px;
  color: #4D5874;
  background-color: var(--white);
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

#pagination button.active-page {
  background-color: rgba(20, 174, 187, 0.1);
  color: var(--primary-color);
}

#pagination button:disabled {
  background-color: var(--white);
  cursor: not-allowed;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* ==========================================================================
  Table Styling (reliefslog, reportslog, activation)
========================================================================== */
table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1000px;
  table-layout: fixed;
}

th, td {
  border: 1px solid #e0e0e0;
  padding: 14px 12px;
  border-left: none;
  border-right: none;
  font-weight: 500    ;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  font-size: 11px;
  background-color: var(--white);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

th {
  background-color: var(--white);
  color: #aaa;
  border: none;
  font-weight: 600;
}

/* Inputs inside Table */
td input[type="text"],
td input[type="tel"],
td input[type="email"],
td input[type="number"],
td select {
  width: 90%; 
  padding: 5px;
  margin: 5px auto; 
  display: inline-block;
  font-size: 12px;
  background-color: #e7e7e7;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Button Styling */
button {
  padding: 8px 15px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

/* ==========================================================================
  Forms Styles (reliefsRequest & reportsSubmission)
========================================================================== */
.form-page-container {
  display: flex;
  min-height: 100vh; 
  margin: 0 auto;
  justify-content: center; 
  background-color: var(--light-bg);
}

#form-main-content {
  flex: 1;
  padding: 30px;
  position: relative;
  background: var(--white);
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  margin: 50px;
  overflow-y: auto;
}

.form-page-container form{
  position: relative;
  max-height: 510px; 
  height: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

/* Form transitions */
.form-page-container form .form{
  position: absolute;
  width: 100%;
  transition: 0.3s ease;
  background-color: var(--white);
}

.form-page-container form.secActive .form.first{
  opacity: 0;
  pointer-events: none;
}

/* Card blocks */
.form-page-container .form-container-1, .form-page-container .form-container-2{
  border: 2px solid var(--primary-color); 
  background-color: rgba(20, 174, 187, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

/* Titles */
.form-page-container form .title {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  margin: 6px 0;
  color: var(--primary-color);
}

/* Fields grid */
.form-page-container .fields{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.form-page-container .input-field{
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 10px);
  margin: 4px 0;
}

/* Labels */
.form-page-container label{
  font-size: 12px;
  font-weight: 700;
  color: var(--primary-color);
}

/* Inputs */
.form-page-container .input-field input{
  font-size: 14px;
  font-weight: 400;
  color: #333;
  padding: 10px 15px;
  background-color: var(--white);
  border-radius: 5px;
  margin-top: 6px;
  border: 1px solid #aaa;
}

.form-page-container .input-field input:is(:focus, :valid){
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.form-page-container .input-field input[type="date"]{
  color: #707070;
}

.form-page-container .input-field input[type="date"]:valid{
  color: #000;
}

/* Display-only text (p tags) */
.form-page-container .input-field p {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  padding: 10px 15px;
  background-color: var(--white);
  border-radius: 5px;
  margin-top: 6px;
  border: 1px solid #aaa;
  word-wrap: break-word;
}

/* Buttons */
.form-page-container form .next-btn, 
.form-page-container form .backBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  color: var(--white);
  border-radius: 5px;
  margin: 15px 0;
  background-color: var(--primary-color);
  transition: all 0.3s linear;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

button.delete-btn{
  align-content: center;
}
.form-page-container form button:hover{
  background-color: #0e7781;
}

.form-page-container form button i,
.form-page-container form .backBtn i{
  margin: 0 6px;
}

/* Buttons container */
.form-page-container form .buttons{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.form-page-container form .buttons button,
.form-page-container form .buttons .backBtn{
  margin-right: 14px;
}
.form-page-container .button-group{
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}






