
#reliefModal .modal-content table th,
#reliefModal .modal-content table td {
  border: 1px solid #e0e0e0;
  padding: 14px 12px;
  border-left: none;
  border-right: none;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  background-color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#reliefModal .modal-content table th {
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  font-weight: 600;
}

#reliefModal .modal-content table tbody tr:nth-child(even) {
  background-color: var(--light-bg);
}

/* Optional hover effect */
#reliefModal .modal-content table tbody tr:hover {
  background-color: var(--light-bg);
}

.statusSelect{
  width: fit-content;
}

.notesInput {
  width: max-content;
  min-height: 40px;
  resize: vertical;
  padding: 6px 8px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  background-color: #f9f9f9;
  transition: border-color 0.2s ease-in-out;
}

.notesInput:focus {
  border-color: #007BFF;
  outline: none;
  background-color: #fff;
}