.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal.hidden { display: none; }
.modal-content {
  background: var(--white);
  padding: 50px;
  width: 1000px;
  height: auto;
  overflow-y: auto;
  border: 5px solid var(--primary-color);
  border-radius: 18px;
  position: relative;
}
.close {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 24px;
  cursor: pointer;
}

#modalTitle{
  color: #4059A5;
}
.details p { 
  margin-top: 20px;
  padding: 2px;

}

.viewBtn {
  background-color: #4059A5;
  width: 80%;
  margin-bottom: 5px;
}
.viewBtn:hover {
  background-color: #32488a;
}

.deleteBtn {
  background-color: #FF3B30;
  width: 80%;
}
.deleteBtn:hover {
  background-color: #d63128;
}

/* Modal Table Styling */
#reliefModal .modal-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  min-width: 200px;
  table-layout: fixed;
}

#reliefModal .modal-content table th,
#reliefModal .modal-content table td {
  border: 1px solid #e0e0e0;
  padding: 14px 12px;
  border-left: none;
  border-right: none;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  background-color: var(--white);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#reliefModal .modal-content table th {
  background-color: var(--white);
  color: #aaa;
  border: none;
  font-weight: 600;
}

#reliefModal .modal-content table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

/* Optional hover effect */
#reliefModal .modal-content table tbody tr:hover {
  background-color: #f0f8ff;
}

@media (max-width: 768px) {

  table {
    min-width: 100%;
    font-size: 10px;
    overflow-x: auto;
    display: block;
  }

  .pagination-info {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .pagination-info span {
    text-align: center;
  }
  #reliefModal .modal-content {
    padding: 50px;
    font-size: 15px;
  }

  #reliefModal .modal-content table {
    width: 100%;
    display: table;
    align-self: center;
  }

  #reliefModal .modal-content table th,
  #reliefModal .modal-content table td {
    padding: 6px;
    font-size: 15px;
  }
}

/* Responsive overflow for narrow screens */
@media (max-width: 480px) {
  #reliefModal .modal-content {
    padding: 50px;
  }
  #reliefModal .modal-content table {
    display: table;
    overflow-x: auto;
    word-wrap: break-word;
  }
  #reliefModal .modal-content table th,
  #reliefModal .modal-content table td {
    padding: 8px 6px;
    font-size: 15px;
  }
}
