.edit-btn {
  padding: 8px 15px;
  background-color: #14AEBB;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s;
}

.viewBtn {
  background-color: #4059A5;
  width: 80%;
  margin-bottom: 5px;
}
.viewBtn:hover {
  background-color: #32488a;
}

.deleteBtn {
  background-color: #FF3B30;
  width: 80%;
}
.deleteBtn:hover {
  background-color: #d63128;
}

.approveBtn {
  background-color: #34C759;
  width: 80%;
}
.approveBtn:hover {
  background-color: #2fa84e;
}

.rejectBtn {
  background-color: #FF3B30;
  width: 80%;
}
.rejectBtn:hover {
  background-color: #d63128;
}

/* Modal */
.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 50px;
  width: 1000px;
  max-height: 80vh;
  overflow-y: auto;
  border: 5px solid #14AEBB;
  border-radius: 18px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

#modalTitle {
  color: #4059A5;
  font-size: 22px;
  font-weight: 600;
}
h2{
  color:#32488a;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
  margin-bottom: 0px;
}
.modal-header span {
  font-size: 40px;
  color: #6c757d;
}

.details p {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.report-section {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.form-1, .form-2 {
  box-sizing: border-box;
  padding: 10px;
}
.form-1 table, .form-2 table {
  table-layout: auto;
  word-wrap: break-word;
}
.form-3 {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px;
}

table td {
  padding: 10px 0 10px 10px;
  text-align: center;
  align-content: center;
  font-size: 12px;
  vertical-align: top;
}

.info-table {
  width: 10%;
  border-collapse: collapse;
  margin-top: 10px;
}
.info-table td {
  text-align: left;
  padding-right: 0px;
  font-size: 12px;
}

/* Responsive Media Queries */
@media (max-width: 1024px) {
  #main-content {
    padding: 30px;
    margin: 30px 20px;
  }

  table {
    min-width: 800px;
  }

  .modal-content {
    width: 90%;
    padding: 30px;
  }

  .report-section {
    gap: 40px;
  }
}
/* 
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    padding: 10px;
  }

  #main-content {
    padding: 20px;
    margin: 20px 10px;
    max-height: none;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    min-width: 100%;
    font-size: 10px;
  }

  th, td {
    font-size: 10px;
    padding: 10px;
  }

  .pagination-info {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .pagination-info span {
    text-align: center;
  }

  .modal-content {
    width: 95%;
    padding: 20px;
  }

  .report-section {
    flex-direction: column;
    gap: 20px;
  }

  .form-1, .form-2, .form-3 {
    width: 100%;
  }

  #modalTitle {
    font-size: 18px;
  }

  .details p {
    font-size: 12px;
  }

  .modal-header span {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .report-section {
    flex: 1;
    flex-direction: column;
    gap: 20px;
  }
  button, .edit-btn {
    font-size: 11px;
    padding: 6px 10px;
  }
  

  td input[type="text"],
  td select,
  .area-dropbtn {
    font-size: 11px;
    padding: 4px;
  }

  .pagination-info {
    flex-direction: column;
    font-size: 11px;
    text-align: center;
  }

  #pagination button {
    padding: 8px;
    font-size: 12px;
  }

  .modal-header span {
    font-size: 24px;
  }

  #modalTitle {
    font-size: 16px;
  }

  .modal-content {
    padding: 15px;
  }
} */
