@media (max-width: 768px) {

  table {
    min-width: 100%;
    font-size: 10px;
    overflow-x: auto;
    display: block;
  }

  .pagination-info {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .pagination-info span {
    text-align: center;
  }
  #reportModal .modal-content {
    padding: 50px;
    font-size: 15px;
  }

  #reportModal .modal-content table {
    width: 100%;
    display: table;
    align-self: center;
  }
}

/* Responsive overflow for narrow screens */
@media (max-width: 480px) {
  #reportModal .modal-content {
    padding: 50px;
  }
  #reportModal .modal-content table {
    display: table;
    overflow-x: auto;
    word-wrap: break-word;
  }
}
