<div class="sidebar">
  <div class="menu-btn">
    <i class='bx bx-chevron-left'></i>  
  </div>

  <div class="head">
    <div class="user-img">
      <img src="../assets/images/user.jpg" alt="User Image" />
    </div>
    <a href="../pages/profile.html" id="load-profile">
      <div class="user-details">
        <p class="title" id="user-role"></p>
        <p id="user-name" class="name"></p>
      </div>
    </a>
  </div>

  <div class="scrollable-content">
    <div class="navbar">
      <div class="nav">
        <div class="menu">
          <ul>
            <li class="menu-dashboard">
              <a href="../pages/dashboard.html">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Dashboard</span>
              </a>
            </li>

            <li class="menu-volunteergroupmanagement">
              <a href="../pages/volunteergroupmanagement.html">
                <i class='bx bxs-group'></i>
                <span class="text">Volunteer Group Management</span>
              </a>
            </li>

            <li class="menu-activation">
              <a href="../pages/activation.html">
                <i class='bx bxs-bell'></i>
                <span class="text">Activation</span>
              </a>
            </li>

            <li class="has-dropdown menu-donation-tracksheet">
              <a href="#">
                <i class='bx bxs-package'></i>
                <span class="text">Donation Tracksheet</span>
                <i class='bx bxs-chevron-down arrow'></i>
              </a>
              <ul class="sub-menu">
                <li><a href="../pages/inkind.html"><span class="text">In-kind</span></a></li>
                <li><a href="../pages/monetary.html"><span class="text">Monetary</span></a></li>
              </ul>
            </li>

            <li class="menu-callfordonation">
              <a href="../pages/callfordonation.html">
                <i class='bx bxs-phone-call'></i>
                <span class="text">Call for Donation</span>
                <i class='bx bxs-chevron-down arrow'></i>
              </a>
              <ul class="sub-menu">
                <li><a href="../pages/callfordonation.html"><span class="text">Call for Donation</span></a></li>
                <li><a href="../pages/donationList.html"><span class="text">Donation List</span></a></li>
              </ul>
            </li>

            <li class="has-dropdown menu-rdana">
              <a href="#">
                <i class='bx bx-clipboard'></i>
                <span class="text">RDANA</span>
                <i class='bx bxs-chevron-down arrow'></i>
              </a>
              <ul class="sub-menu">
                <li class="menu-rdana-main"><a href="../pages/rdana.html"><span class="text">RDANA</span></a></li>
                <li class="menu-rdana-verification"><a href="../pages/rdanaVerification.html"><span class="text">RDANA Verification</span></a></li>
                <li class="menu-rdana-log"><a href="../pages/rdanaLog.html"><span class="text">RDANA Log</span></a></li>
              </ul>
            </li>

            <li class="has-dropdown menu-reliefs">
              <a href="#">
                <i class='bx bxs-package'></i>
                <span class="text">Relief</span>
                <i class='bx bxs-chevron-down arrow'></i>
              </a>
              <ul class="sub-menu">
                <li class="menu-reliefs-request"><a href="../pages/reliefsRequest.html"><span class="text">Request a Relief</span></a></li>
                <li class="menu-reliefs-log"><a href="../pages/reliefsLog.html"><span class="text">Reliefs Log</span></a></li>
              </ul>
            </li>

            <li class="has-dropdown menu-reports">
              <a href="#">
                <i class='bx bxs-report'></i>
                <span class="text">Reports</span>
                <i class='bx bxs-chevron-down arrow'></i>
              </a>
              <ul class="sub-menu">
                <li class="menu-reports-submission"><a href="../pages/reportsSubmission.html"><span class="text">Submit a Report</span></a></li>
                <li class="menu-reports-verification"><a href="../pages/reportsVerification.html"><span class="text">Reports Verification</span></a></li>
                <li class="menu-reports-log"><a href="../pages/reportsLog.html"><span class="text">Reports Log</span></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="menu">
        <p class="title" style="padding-top: 15px;">Account</p>
        <ul>
          <li>
            <a href="#">
              <i class='bx bx-help-circle'></i>
              <span class="text">Help</span>
            </a>
          </li>
          <li id="logout-btn">
            <a href="#">
              <i class='bx bx-log-out'></i>
              <span class="text">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>